.button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $orange;
    transition: 0.3s all;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
    &__cart-text {
        margin-top: 2px;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 19px;
        color: $orange;
        margin-left: 5px;
    }

    &__cart-icon {
        margin-top: 1px;
        color: #fff;
        height: 16px;
        width: 18px;
        font-size: 15px;
        color: $orange;
        // background: url(../../assets/img/header-cart-icon2.svg) center (center / cover) no-repeat;
    }
    
    &__delimiter {
        width: 1px;
        height: 22px;
        background-color: $orange;
        margin-left: 16px;
        margin-right: 15px;
        margin-top: 2px;
    }
    &_cart {
        width: 170px;
        height: 50px;
        background-color: #fff;
        border-radius: 25px;
        
        // &:hover{
        //     background-color: #fff;
        //     border: 1px solid $orange;
        //     .button__cart-text{
        //         color:$orange;
        //     }
        //     .button__cart-icon {
        //         background: url(../../assets/img/header-cart-icon2.svg);
        //     }
        //     .button__delimiter {
        //         background-color: $orange;
        //     }
        // }
    }
    &__circle {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background-color: $orange;
        margin-right: 7px;
        margin-top: 2px;

        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */


        
        display: none;
        text-align: center;
        
    }
    &__text-circle {
        height: 22px;
        width: 22px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_card {
        width: 132px;
        height: 40px;
        background: #FFFFFF;
        padding-bottom: 2px;
    
        box-sizing: border-box;
        border: 1px solid $orange;
        
        align-items:center;
        
        
        display: flex;
        justify-content: space-between;

        &__plus {
            margin-top: 2px;
            color: $orange;
        }
        &__text {
            margin: 0 auto;
            width: 100px;
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
    
        &__add{
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: $orange;
            margin-top: 1px;
        }
        &:hover {
            background-color: $orange;
            
            .button_card__plus {
                color: #fff;
            }
            .button_card__add {
                color: #fff;
            }
        }
        &:active  {
            animation: onClickAdd 0.2s ease-out;
        }
    }
    &_added {
        transition: 0.3s all;
        width: 155px;
        height: 40px;
        .button__circle {
            display:block;
        }
        &:hover {
            background-color: #FFFFFF;
            border: 1px solid $orange;
            .button_card__plus {
                color: $orange;
            }
            .button_card__add {
                color: $orange;
            }
        }
    } 
    &_no-order {
        margin-top: 74px;
        width: 210px;
        height: 46px; 
        background: #282828;
        
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.015em;

        color: #FFFFFF;

        &:hover {
            background-color: #FFFFFF;
            border: 1px solid #282828;
            color: #282828;
            
        }
    }
    &_cartBack {
        width: 211px;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid #D3D3D3;
        

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #CACACA;

        div {
            margin-right: 10px;
        }

        img {
            margin-top: 3px;
            margin-right: 10px;
        }
        &:hover {
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
        }
    }

    &_cartPayment {
        width: 211px;
        height: 55px;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #FFFFFF;
        &:hover {
            background-color: #FFFFFF;
            border: 1px solid $orange;
            color: $orange;
        }
    }
    &_cartDelete {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: #FFFFFF;
        border: 2px solid #D7D7D7;
        box-sizing: border-box;
    }
    &_filter {
        margin-right: 9px;
        height: 46px;
        background: #F9F9F9;
        padding: 0px 36px 3px 36px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.015em;

        color: #2C2C2C;
        margin-top: 10px;
        
        &_active {
            background: #282828;
            color: #FFFFFF;
        }
        &:hover {
            border: 1px solid #2C2C2C;;
        }
    }
    &_mobFilter {
        display: none;
        width: 50px;
        background-color: #fff;
        font-size: 15px;
        justify-content: flex-start;
        &:active {
            color:$orange;
        }
    }
    &_modalInput {
        position: relative;
        left: 230px;
        margin-top: 50px;
        width: 140px;
        height: 46px;
        color: #fff;
        font-size: 18px;
    }
    &_modalRegist {
        position: relative;
        left: 585px;
        top: 20px;
        margin-top: 50px;
        width: 180px;
        height: 46px;
        color: #fff;
        font-size: 18px;
    }
    &_headerInput{
        height: 35px;
        width: 100px;
        border: none;
        
        
        border-radius: 30px;
        font-size: 15px;
        color: #FFFFFF;
    }
    &_headerRegist {
        height: 35px;
        width: 140px;
        border: none;
        color: $orange;
        border: $orange solid 1px;
        background: #fff;
        border-radius: 30px;
        font-size: 15px;
    }
    &_checkoutBack {
        width: 211px;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid #D3D3D3;
        

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #CACACA;

        div {
            margin-right: 10px;
        }

        img {
            margin-top: 3px;
            margin-right: 10px;
        }
        &:hover {
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
        }
    }

    &_checkoutPayment{
        width: 211px;
        height: 55px;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #FFFFFF;
        &:hover {
            background-color: #FFFFFF;
            border: 1px solid $orange;
            color: $orange;
        }
    }

    &__outProfil {
        margin-top: 45px;
        width: 160px;
        height: 40px;
        background-color: #fff;
        border: 1px solid $orange;
        color: $orange;
    }

    &_ready {
        margin-top: 40px;
        width: 230px;
        height: 50px;
        color: white;
        background: #282828;
        &:hover {
            border: 1px solid #282828;
            background-color: white;
            color: #282828;
        }
        
    }
}
