.cart {
    padding-top: 94px;
    padding-bottom: 122px;
    &__block {
        width: 820px;
        min-height: 200px;
        margin: 0 auto;

    }
    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 180px;
        height: 40px;
        
    }
    &__titleText {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        margin-top: 3px;
        letter-spacing: 0.01em;
        color: black;
    }
    &__clear  {
        width: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    &__clearIcon {
        width: 20px;
    }
    &__clearText{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;

        color: #B6B6B6;
    }

    &__items {
        margin-top: 30px;
    }
    &__bottom {
        width: 100%;
    }
    &__info {
        margin-top: 40px;
        width: 100%;
        height: 27px;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    &__allQuantity {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;

        letter-spacing: 0.01em;
        span {
            font-weight: 700;
        }
    }
    &__allPrice {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        /* identical to box height */

        letter-spacing: 0.01em;
        span {
            font-weight: 700;
            color: #FE5F1E;
        }
    }
    &__buttons {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}




