.header {
    &__logo {
        width: 340px;
        display: flex;

        
        img {
            display: block;
        }
        div {
            margin-left: 17px;
        }
        
        h1 {
            margin: 0;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            
            color: #181818;
        }
        p {
            margin: 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #7B7B7B;
        }
    }
}