.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all;
    &__container {
        width: 900px;
        min-height: 500px;
        background-color: #fff;
        border-radius: 30px;
        transition: 0.3s all;
        transform: translateX(-200%);
    }

}
.active {
    transition: 0.3s all;
    opacity: 1;
    pointer-events: all;
}
.modal__container_active {
    transition: 0.7s all;
    transform: translateX(0);
}