.modalInput {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 70px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    &__left {
        width: 370px;
        height: 360px;
    }
    &__right {
        width: 320px;
        height: 320px;
        padding-top: 20px;
        img {
            height: 100%;
        }
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;

        letter-spacing: 0.01em;

        color: #000000;
    }
    &__inputs {
        margin-top: 35px;
        width: 100%;
        input {
            padding-left: 10px;
            margin-top: 25px;
            height: 35px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #000;

            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            letter-spacing: 0.01em;

            color: #8D8D8D;
            transition: 0.2s all;
            &:focus {
                transition: 0.2s all;
                color:#000;
                border-bottom: 1px solid #EB5A1E;
            }
        }
    }
}