
.navbar {
    width: 100%;
    height: 65px;
    background-color: $orange;
    position: sticky;
    top: 0;
    z-index: 9;
    transition: 1s all;
    
   
    &__items{
        transition: 1s all;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 7px;
    }
    &__logo {
        transition: 1s all;
        width: 40px;
        height: 40px;
        display: none;
        margin-right: 60px;
    }
    &__menu {
        transition: 1s all;
        display: flex;
        align-items: center;
        height: 45px;
        width: 700px;

        li {
            
            &:hover {
                animation: beat 0.2s ease 1;
                animation-play-state: paused;
                animation-play-state: running;
            }
            
            a{
                color :#F3F3F3;
                font-size: 17px;
            
                i{
                    margin-right: 7px;
                    color :#F3F3F3;
                    font-size: 17px;

                    
                }
                
               
            }

            
        }
    }
    &__item {
        margin-right: 55px;
        
    }
    
}
.hiden {
    transition: 10s all;
    display: block;
}