.card {
	
	width: 300px;
	// height: 459px;
	background-color: #fff;
	padding-bottom: 15px;
	border-radius: 7px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// margin-right: 40px;
	// margin-bottom: 64px;
	transition: 0.3s all;
	overflow: hidden;
	margin-right: 53px;
	margin-bottom: 50px;
        &:nth-child(5n) {
            margin-right: 0px;
        }
	&__top {
		display: flex;
		width: calc(200%);
		user-select: none;
	}
	&__img {
		height: 260px;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		transform: translateX(-100%);
        transition: 1.3s all;
		img {
			display: block;
			height: 250px;
			margin-left: 20px;
		}
		&_active {
			transition: 0.7s all;
			transform: translateX(0%);
		}
	}
	&__info {
		height: 260px;
		width: 50%;
		transform: translateX(0%);
        transition: 0.7s all;
		display: flex;
		justify-content: center;
		align-items: center;
		&_active {
			transition: 1.3s all;
			transform: translateX(-100%);
		}
	}
	&__ingredients {
		height: 210px;
		width: 230px;
		border-radius: 30px;
		border: 1px solid #EB5A1E;
		padding: 15px;
		font-weight: bold;
		li {
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 24px;

			color: #2C2C2C;
		}
	}
	&__title {
		margin: 0;
		
		font-style: normal;
		font-weight: 800;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.01em;
		margin-top: 11px;
		color: #000000;
	}
	&__selector {
		user-select: none;
		margin-top: 22px;
		width: 100%;
		height: 85px;
		background: #F3F3F3;
		border-radius: 10px;
		
	}
	&__dough {
		margin: 0;
		margin-top: 7px;
		display: flex;
		justify-content: space-around;
		padding-left: 0;
		li{
			width: 125px;
			height: 32px;
			border-radius: 5px;
			list-style-type: none;

			
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			letter-spacing: 0.015em;

			color: #2C2C2C;
			display: flex;
			justify-content: center;
			align-items: center;

			cursor: pointer;
		}
		.active {
			background: #FFFFFF;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
		}
	}
	&__diameter {
		margin: 0;
		margin-top: 7px;
		display: flex;
		justify-content: space-around;
		padding-left: 0;
		li{
			width: 77px;
			height: 32px;
			border-radius: 5px;
			list-style-type: none;
			
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			text-align: center;

			color: #2C2C2C;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
		.active {
			background: #FFFFFF;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-top: 17px;
	}
	&__price {
		margin-top: 7px;
		margin-left: 7px;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;

		letter-spacing: 0.015em;

		color: #000000;
	}
}