@import 'fonts.css';
@import 'style.scss';

.app {
	background-color: #FFDF8C;
	padding: 45px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
	
}





